<a href="https://colab.research.google.com/github/naufalmiftakhul/pemrograman-algoritma-dan-struktur-data/blob/main/Week6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [ ]:
for i in range(-2, 2):
    print(i)

-2
-1
0
1

In [ ]:
for year in dates:
    print(year)

1982
1980
1973

In [ ]:
dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [ ]:
for i in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
names = ['Kelly', 'Jessa', 'Emma']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 5:
        print(name, end=' ')
        # increment counter
        count = count + 1
    print()

Kelly Kelly Kelly Kelly Kelly
Jessa Jessa Jessa Jessa Jessa
Emma Emma Emma Emma Emma

# **soal pertama**

In [ ]:
n = int(input("masukkan angka : "))
for i in range(1, n+1):
    print(" " * (n-i), end="")
    print("* " * i)

In [ ]:
n = int(input("masukkan angka : "))
for i in range(1, n+1):
    print("" * (n-i), end="")
    print("*" * i)

masukkan angka : 5
*
**
***
****
*****

In [ ]:
n = int(input("masukkan angka : "))
for i in range(1, n+1):
    print(" " * (n-i), end="")
    print("* " * i)

masukkan angka : 9999999

# **soal ke2**

In [ ]:
n = int(input("masukkan angka : "))

for i in range(1, n+1):
    for j in range(0, n-i+1):
        print(' ', end='')
    C = 1
    for j in range(1, i+1):
        print(' ', C, sep='', end='')
        C = C * (i - j) // j
    print()

masukkan angka : 5
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [ ]:
n = int(input("masukkan angka : "))

for i in range(1, n+1):
    for j in range(0, n-i+1):
        print('', end='')
    C = 1
    for j in range(1, i+1):
        print(' ', C, sep='', end='')
        C = C * (i - j) // j
    print()

masukkan angka : 2
 1
 1 1

In [ ]:
n = int(input("masukkan angka : "))

for i in range(1, n+1):
    for j in range(0, n-i+1):
        print(' ', end='')
    C = 1
    for j in range(1, i+1):
        print(' ', C, sep='', end='')
        C = C * (i - j) // j
    print()

masukkan angka : 5
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

# **soal ke3**

In [ ]:
user = int(input("Masukkan angka: "))

for i in range(user):
  row = []
  for j in range(i + 1):
    if j == 0 or j == i:
      row.append(1)
    else:
      row.append(row[j-1] * (i-j+1) // j)
print(row, 'jumlah baris: ',sum(row))

Masukkan angka: 1
[1] jumlah baris:  1

In [ ]:
variable = int(input("Masukkan Pascal = "))

rows = [1]
total_rows = 1

for i in range(1, variable):
  new_rows = [1]
  for j in range(1, len(rows)):
    new_numbers = rows[j - 1] + rows [j]
    new_rows.append(new_numbers)
    total_rows += new_numbers
  new_rows.append(1)
  rows = new_rows

for k in rows:
  print(k, end=' ')

print("\nJumlah Total satu baris pada Pascal =", i+k+j)

Masukkan Pascal = 3
1 2 1
Jumlah Total satu baris pada Pascal = 4