<a href="https://colab.research.google.com/github/naufalmiftakhul/pemrograman-algoritma-dan-struktur-data/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**latihan pemrograman menggunakan python membuat biodata**

In [ ]:
print('Nama          : Naufal Miftakhul Siddiq \n\nNPM           : 123456 \n\nAlamat        : Kranggan Temanggung \n\nTinggi Badan  : sangat pendek \n\nBerat Badan   : sangat gemuk')

Nama          : Naufal Miftakhul Siddiq

NPM           : 123456

Alamat        : Kranggan Temanggung

Tinggi Badan  : sangat pendek

Berat Badan   : sangat gemuk

**latihan pemrograman menggunakan python membuat tulisan tebal dan biasa**

In [ ]:
print("\033[1mUNIVERSITAS TIDAR\033[0m \nUniversitas Tidar merupakan perguruan tinggi pemerintah atau perguruan tinggi negeri yang telah ditetapkan berdasarkan peraturan presiden republik indonesia nomor 23 tahun 2014 pada tanggal 1 april 2014 \n\n\n\033[1mJURUSAN TEKNIK ELEKTRO , MEKATRONIKA DAN INFORMASI\033[0m \nJurusan Teknik Elektro terdiri dari tiga program studi, antara lain: \n1. S1 Teknik Elektro \x1B[3m(Bachelor of Elektrical Engineering)\x1B[0m \n1. S1 Teknologi Informasi \x1B[3m(Bachelor of Information Teknologi)\x1B[0m \n1. S1 Teknik Mekatronika \x1B[3m(Bachelor of Mechatronics Engeneering)\x1B[0m" )

UNIVERSITAS TIDAR
Universitas Tidar merupakan perguruan tinggi pemerintah atau perguruan tinggi negeri yang telah ditetapkan berdasarkan peraturan presiden republik indonesia nomor 23 tahun 2014 pada tanggal 1 april 2014


JURUSAN TEKNIK ELEKTRO , MEKATRONIKA DAN INFORMASI
Jurusan Teknik Elektro terdiri dari tiga program studi, antara lain:
1. S1 Teknik Elektro (Bachelor of Elektrical Engineering)
1. S1 Teknologi Informasi (Bachelor of Information Teknologi)
1. S1 Teknik Mekatronika (Bachelor of Mechatronics Engeneering)

**unurk membuat bilangan bulat menggunakan**

In [ ]:
# bilangan bulat
11

11

**bilangan koma**

In [ ]:
# mengambang
2.14

2.14

**rangkaian**

In [ ]:
"hello, phython 102"

'hello, phython 102'

**latihan agar python dapat menentukan antara itu bilangan bulat int, bilangan bulat float, dan string karakter sbg str**

In [ ]:
type(12)

int

In [ ]:
type(1.45)

float

In [ ]:
type("hello, indi gatari")

str

In [ ]:
type(-5)

int

In [ ]:
import sys
sys. float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
40 + 50 * 50 // 40

102

In [ ]:
(30 + 5) * 40

1400

In [ ]:
(30 + 50) * 6

480

Latihan week 2 soal 1

In [ ]:
 panjang = 20.5
 lebar = 25
 tinggi = 10

keliling =2*(panjang+lebar)
luas = panjang*lebar
volume = panjang*lebar*tinggi

print('Panjang=',panjang)
print('Lebar=',lebar)
print('Tinggi=',tinggi)
print('Keliling=',keliling)
print('Volume=',volume)

Panjang= 20.5
Lebar= 25
Tinggi= 10
Keliling= 91.0
Volume= 5125.0

Latihan week 2 soal ke2

In [ ]:
rata_rata_nilai_shafira= (85+75)/2
print('1.Rata-rata nilai shafira pada kedua mata kuliah=',rata_rata_nilai_shafira)
jumlah_nilai_hanif_andi= 75+90+70+75
print('2.jumlah nilai hanif dan andi untuk semua mata kuliah=',jumlah_nilai_hanif_andi)
rata_rata_kalkulus_widya_dhamar_hikma_nedia=(85+85+80+95)/4
print('3.rata rata nilai kalkulus widya,dhamar,hikam,dan nedia=',rata_rata_kalkulus_widya_dhamar_hikma_nedia)
rata_rata_nilai_semua_mahasiswa=(85+80+75+95+85+75+70+85+80)/9
print('4.rata rata nilai mata kuliah kalkulus 1 untuk semua=',rata_rata_nilai_semua_mahasiswa)
rata_rata_nilai_statistika_semua_mahasiswa=(75+90+80+80+85+90+75+85+75)/9
print('5.rata rata nilai mata kuliah metode statistika ssmua mahasiswa=',rata_rata_nilai_statistika_semua_mahasiswa)

1.Rata-rata nilai shafira pada kedua mata kuliah= 80.0
2.jumlah nilai hanif dan andi untuk semua mata kuliah= 310
3.rata rata nilai kalkulus widya,dhamar,hikam,dan nedia= 86.25
4.rata rata nilai mata kuliah kalkulus 1 untuk semua= 81.11111111111111
5.rata rata nilai mata kuliah metode statistika ssmua mahasiswa= 81.66666666666667

Latihan week 2 soal ke 3

In [ ]:
#bekerja selama 8 jam perhari
#perjam dikalikan 30.000

gaji_agustus_tidak_kerja_tigahari=(8*30.000*31)-(8*30.000*3)
print('1.gaji dewi pada bulan agustus jiga tidak masuk selama 3 hari=',gaji_agustus_tidak_kerja_tigahari)
gaji_agustus_tunjangan=(6.720*10/100)+6.720
print('2.gaji bulan agustus dengan tambahan tunjangan=',gaji_agustus_tunjangan)
gaji_lembur=(5*10.000)+7391.9
print('3.gaji jika dewi lembur selama 5 jam selama sebulan=',gaji_lembur)

1.gaji dewi pada bulan agustus jiga tidak masuk selama 3 hari= 6720.0
2.gaji bulan agustus dengan tambahan tunjangan= 7.3919999999999995
3.gaji jika dewi lembur selama 5 jam selama sebulan= 8791.9