<a href="https://colab.research.google.com/github/naufalmiftakhul/pemrograman-algoritma-dan-struktur-data/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hallo naufal miftakhul')

hallo naufal miftakhul

In [ ]:
print('naufal miftakhul siddiq',end = ' dan ')
print('indi gatari')

naufal miftakhul siddiq dan indi gatari

In [ ]:
print('teknologi informasi'+' fakultas teknik')

teknologi informasi fakultas teknik

In [ ]:
print('selamat ulang tahun','indi gatari','5','september','2024')

selamat ulang tahun indi gatari 5 september 2024

In [ ]:
indi = 60
naufal = 90


print(indi)
print(naufal)

60
90

In [ ]:
x=4
y=5

print('jika nilai x {} dan jika nilai y {}'.format(x,y))

jika nilai x 4 dan jika nilai y 5

In [ ]:
num= int(input('wntwe a number: '))
print('you entered', num)
print('data type of num:', type(num))

wntwe a number: 60
you entered 60
data type of num: <class 'int'>

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=cd291dce8b1aa7dcafc5b22f1551e836f8b88a543e94d1aad20e34fb43aa349c
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-06 07:06:13--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-06 07:06:13 (15.1 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [ ]:
example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
file1.name

'/resources/data/Example1.txt'

In [ ]:
file1.mode

'r'

In [ ]:
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
with open(example1, "r") as file1:
    print(file1.read(4))

This

In [ ]:
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [ ]:
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
Biodata = ['Nama   = Naufal Miftakhul Siddiq \nProdi  = Teknik Informatika \nNPM    = 12345678 \nAlamat = Dayakan Kranggan Temanggung \nHobi   = Mencintainya \nEmail  = miftakhulnaufal08@gmail.com']
file2 = 'Biodata.txt'
with open(file2, 'w') as file1:
    for line in Biodata:
        file1.write(line)

In [ ]:
dengan terbuka ( 'Biodata.txt' , 'r' ) sebagai  file1 :
   c = file1.readlines () cetak ( c [ 0 ]) cetak ( c [ 3 ]) cetak ( c [ 5 ])

Nama   = Naufal Miftakhul Siddiq

Alamat = Dayakan Kranggan Temanggung

Email  = miftakhulnaufal08@gmail.com

In [ ]:
with open('indi.txt','w') as samno:
    samno.write(c[0])
    samno.write(c[2])
    samno.write(c[1])
    samno.write(c[3])

In [ ]:
with open('indi.txt','w') as samno:
  print(c[0])
  print(c[2])
  print(c[1])
  print(c[3])

Nama   = Naufal Miftakhul Siddiq

NPM    = 12345678

Prodi  = Teknik Informatika

Alamat = Dayakan Kranggan Temanggung

In [1]:
print("selamat datang ditoko makmur jaya")
print("Senin. 4 September 2023 13.05")
print(" ")

print("DAFTAR BELANJA:")
item1 = 'Sabun'
item2 = 'Shampo'
item3 = 'Mie instant'
item4 = 'Detergen'
harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

total = harga1 + harga2 + harga3 +harga4

print (item1+  "= Rp"  + str(harga1))
print (item2+  "= Rp"  + str(harga2))
print (item3+  "= Rp"  + str(harga3))
print (item4+  "= Rp"  + str(harga4))

print (" ")
print ("Total = Rp " + str(total))
print (" ")

with open ( 'Kuitansi.txt' , 'w' ) as  writefile :
        writefile.write ( "Selamat Datang di Toko Maju Jaya\n")
        writefile.write ( " \n" )
        writefile.write ( "Kuitansi - 4 September 2023\n" )
        writefile.write ( "\n" )
        writefile.write ( item1+  "= Rp"  +  str (harga1) + "\n")
        writefile.write ( item2+  "= Rp "  +  str (harga2) + "\n")
        writefile.write ( item3+ " = Rp "  +  str (harga3) + "\n")
        writefile.write ( item4+ " = Rp "  +  str (harga4) + "\n")
        writefile.write ( " \n" )
        writefile.write ( "Total Belanja =" +  str (total))

selamat datang ditoko makmur jaya
Senin. 4 September 2023 13.05

DAFTAR BELANJA:
Sabun= Rp10000
Shampo= Rp15000
Mie instant= Rp5000
Detergen= Rp17500

Total = Rp 47500